{# Branch #}
{% with var1 = True %}
    {% if var1 %}
        {% do assert_expr(var1,'var1') %}
    {% else %}
        {% do assert_expr(False,'Never show up!') %}
    {% endif %}
{% endwith %}
{# For each if-elif-else chain, elif will try if the if failed #}
{% with var1 = 10 %}
    {% if var1 % 2 == 1 %}
        {% do assert_expr(False,'Not here') %}
    {% elif var1 % 8 == 1 %}
        {% do assert_expr(False,'Not here') %}
    {% elif var1 % 4 == 1 %}
        {% do assert_expr(False,'Not here') %}
    {% elif var1 == 10 %}
        {% do assert_expr(var1 == 10,'var1 == 10') %}
    {% else %}
        {% do assert_expr(False,'Not here') %}
    {% endif %}
{% endwith %}
{# Multiple If #}
{% with var1 = 10 %}
    {% set cnt = 0 %}
    {% if var1 == 10 %}
        {% set var = cnt + 1 %}
        {% move cnt = var %}
    {% endif %}
    {% if var1 % 2 == 0 %}
        {% set var = cnt + 1 %}
        {% move cnt = var %}
    {% endif %}
    {% if var1 % 5 == 0 %}
        {% set var = cnt + 1 %}
        {% move cnt = var %}
    {% endif %}
    {% if var1 % 4 == 1 %}
        {% set var = cnt + 1 %}
        {% move cnt = var %}
    {% endif %}
    {% do assert_expr( cnt == 3 , 'Cnt == 3') %}
{% endwith %}
{# Loop #}
{% with cnt = 0 %}
    {% for i in xrange(1000) %}
        {% set var = cnt + 1 %}
        {% do assert_expr( i == var-1 , 'i == var-1') %}
        {% move cnt = var %}
    {% endfor %}
{% endwith %}
{% for k,v in {'U':1,'V':2} %}
    {% if k == 'U' %}
        {% do assert_expr( v == 1 , 'v == 1') %}
    {% elif k == 'V' %}
        {% do assert_expr( v == 2 , 'v == 2') %}
    {% endif %}
{% endfor %}
{% for k,v in [1,2,3] %}
    {% do assert_expr( k == v-1 , 'k == v-1' ) %}
{% endfor %}
{% for k,v in 'abcd' %}
    {% if k == 0 %}
        {% do assert_expr( v == 'a' , 'v == a') %}
    {% elif k == 1 %}
        {% do assert_expr( v == 'b' , 'v == b') %}
    {% elif k == 2 %}
        {% do assert_expr( v == 'c' , 'v == c') %}
    {% elif k == 3 %}
        {% do assert_expr( v == 'd' , 'v == d') %}
    {% endif %}
{% endfor %}
{# Nested loop #}
{% with cnt = 0 %}
    {% for outer in xrange(4) %}
        {% for inner in xrange(5) %}
            {% set v = cnt + 1 %}
            {% move cnt = v %}
        {% endfor %}
    {% endfor %}
    {% do assert_expr( cnt == 4*5 , 'cnt == 4*5' ) %}
{% endwith %}
{% with cnt = 0 %}
    {% for outer in xrange(4) %}
        {% set var1 = 1 %}
        {% for inner in xrange(5) %}
            {% set var1 = 0 %}
            {% set v = cnt + 1 %}
            {% move cnt = v %}
            {% do assert_expr( var1 == 0 ,'var1 == 0') %}
        {% endfor %}
        {% do assert_expr( var1 == 1, 'var1 == 1') %}
    {% endfor %}
    {% do assert_expr( cnt == 4*5 , 'cnt == 4*5' ) %}
{% endwith %}
{# Loop with condition and controls #}
{% with cnt = 0 %}
    {% for outer in xrange(4) %}
        {% for inner in xrange(5) %}
            {% if inner >= 2 %}
                {% break %}
            {% endif %}
            {% set v = cnt + 1 %}
            {% move cnt = v %}
        {% endfor %}
    {% endfor %}
    {% do assert_expr( cnt == 4*2, 'cnt == 4*2' ) %}
{% endwith %}
{% with cnt = 0 %}
    {% for outer in xrange(4) %}
        {% for inner in xrange(5) %}
            {% if inner >= 2 %}
                {% break %}
            {% endif %}
            {% set v = cnt + 1 %}
            {% move cnt = v %}
            {% do assert_expr( inner < 2 , 'inner < 2') %}
        {% endfor %}
    {% endfor %}
    {% do assert_expr( cnt == 4*2, 'cnt == 4*2' ) %}
{% endwith %}
{# Test Continue/Break correct or not #}
{% with %}
    {% set cont_cnt = 0 %}
    {% set break_cnt = 0 %}
    {% for outer in xrange(4) %}
        {% for inner in xrange(5) %}
            {% if inner >= 2 %}
                {% set i = break_cnt + 1 %}
                {% move break_cnt = i %}
                {% break %}
                {% do assert_expr(False) %}
            {% endif %}
            {% if inner % 2 == 1 %}
                {% set i = cont_cnt + 1 %}
                {% move cont_cnt = i %}
                {% continue %}
                {% do assert_expr(False) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% do assert_expr(cont_cnt == 4) %}
    {% do assert_expr(break_cnt== 4) %}
{% endwith %}
{# Test With #}
{% with A = 1 %}
    {% with A = 2 %}
        {% do assert_expr(A == 2,'A == 2') %}
    {% endwith %}
    {% do assert_expr( A == 1, 'A == 1') %}
{% endwith %}
{% with A = [1,2,3] %}
    {% with A = {'A':1,'B':2,'C':3} %}
        {% do assert_expr( A['A'] == 1 , 'A[\'A\'] == 1' ) %}
    {% endwith %}
    {% do assert_expr( A[0] == 1 and A[1] == 2,'A[0] == 1') %}
{% endwith %}
{# Test Move #}
{# 1. Test Move none heap object #}
{% with A = 0 %}
    {% for i in xrange(5) %}
        {% set tp = A + i %}
        {% move A = tp %}
    {% endfor %}
    {% do assert_expr( A == 0+1+2+3+4, 'A == 0+1+2+3+4' ) %}
{% endwith %}
{# 2. Test Move with heap object #}
{% with A = 0 %}
    {% do assert_expr(A == 0) %}
    {% with B = [1,2,3,4] %}
        {% set C = [1,2,3,4] %}
        {% do assert_expr(C[3] == 4) %}
        {% do assert_expr(B[3] == 4) %}
        {% do assert_expr(A == 0) %}
        {% move A = B %}
        {% do assert_expr(B[3] == 4) %}
        {% do assert_expr(A[3] == 4) %}
        {% do assert_expr(A == B) %}
    {% endwith %}
    {# C and B are out of scope, so they are dead #}
    {% do assert_expr( C is None ) %}
    {% do assert_expr( B is None ) %}
    {% do assert_expr( A[0] == 1 and A[1] == 2 and A[2] == 3 and A[3] == 4 ) %}
{% endwith %}
{% with A = 0 %}
    {% do assert_expr(A == 0) %}
    {% with B = {'A':1,'B':2,'C':3} %}
        {% set C =  {'A':1,'B':2,'C':3} %}
        {% do assert_expr(C['C'] == 3) %}
        {% do assert_expr(B.C == 3) %}
        {% do assert_expr(A == 0) %}
        {% move A = B %}
        {% do assert_expr(B.C == 3) %}
        {% do assert_expr(A.C == 3) %}
        {% do assert_expr(A == B) %}
    {% endwith %}
    {# C and B are out of scope, so they are dead #}
    {% do assert_expr( C is None ) %}
    {% do assert_expr( B is None ) %}
    {% do assert_expr( A.A == 1 and A.B == 2 and A.C == 3 ) %}
{% endwith %}
{% with A = 0 %}
    {% do assert_expr(A == 0) %}
    {% with B = 'Hello' %}
        {% set C =  'Hello' %}
        {% do assert_expr(C[4] == 'o') %}
        {% do assert_expr(B[4] == 'o') %}
        {% do assert_expr(A == 0) %}
        {% move A = B %}
        {% do assert_expr(B[4] == 'o') %}
        {% do assert_expr(A[4] == 'o') %}
        {% do assert_expr(A == B) %}
    {% endwith %}
    {# C and B are out of scope, so they are dead #}
    {% do assert_expr( C is None ) %}
    {% do assert_expr( B is None ) %}
    {% do assert_expr( A == 'Hello' ) %}
{% endwith %}
{# 3. Test Move statment with for and break/continue which changes the scopes #}
{% with A = 0 %}
    {% set inner_cnt = 0 %}
    {% for i in xrange(10) %}
        {% move inner_cnt = i %}
        {% if i % 2 == 0 %}
            {# A new scope #}
            {% set var1 = [1,2,3] %}
            {% move A = var1 %}
        {% else %}
            {% set var2 = {'A':1,'B':2} %}
            {% move A = var2 %}
            {% break %}
        {% endif %}
        {% if i % 2 == 0 %}
            {% do assert_expr( A[0] == 1 and A[1] == 2 and A[2] == 3 ) %}
        {% endif %}
    {% endfor %}
    {% do assert_expr( inner_cnt == 1 ) %}
    {% do assert_expr( A.A == 1 and A.B == 2 ) %}
{% endwith %}
{% with A = 0 %}
    {% for i in xrange(10) %}
        {% set B = 0 %}
        {% for k in xrange(10) %}
            {% set v = 'V'*k %}
            {% move B = v %}
        {% endfor %}
        {% do assert_expr( B == 'V'*9 ) %}
        {% set C = B*i %}
        {% move A = C %}
    {% endfor %}
    {% do assert_expr( A == 'V'*81 ) %}
{% endwith %}
{# 4. Do statment #}
{% with alist = [1,2,3,4] %}
    {% with V = 123 %}
        {% do alist.append(5) %}
    {% endwith %}
    {% do assert_expr( alist[4] == 5 ) %}
{% endwith %}
